@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  width: 100%;
}

.CheckboxRoot {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CheckboxRoot:hover {
  background-color: #5E5D5C;
}
.CheckboxRoot:focus {
  box-shadow: 0 0 0 2px black;
}

.CheckboxIndicator {
  color: black;
}

.Label {
  color: white;
  padding-left: 15px;
  font-size: 15px;
  line-height: 1;
}

.bg{
  background-image: linear-gradient(rgba(248,247,252, 0.5), rgba(0, 0, 0, 0.7)),                  
  url("../public/assets/images/bg1.jpg");
  background-size: cover;
}
.dark {
  color: white;
  background-color: #1f2937;
}
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');
*{
  font-family: 'poppins';
  font-size: 20px;
} */